Data Preprocessing

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/Churn_Modelling.csv')
dataset.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
print(dataset)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [ ]:
#Split Dataset into X and y
X = pd.DataFrame(dataset.iloc[:, 3:13].values) #Independent variables
y = dataset.iloc[:, 13].values #dependent variables

In [ ]:
X.head(10)

     0        1       2   3  4          5  6  7  8          9
0  619   France  Female  42  2        0.0  1  1  1  101348.88
1  608    Spain  Female  41  1   83807.86  1  0  1  112542.58
2  502   France  Female  42  8   159660.8  3  1  0  113931.57
3  699   France  Female  39  1        0.0  2  0  0   93826.63
4  850    Spain  Female  43  2  125510.82  1  1  1    79084.1
5  645    Spain    Male  44  8  113755.78  2  1  0  149756.71
6  822   France    Male  50  7        0.0  2  1  1    10062.8
7  376  Germany  Female  29  4  115046.74  4  1  0  119346.88
8  501   France    Male  44  4  142051.07  2  0  1    74940.5
9  684   France    Male  27  2  134603.88  1  1  1   71725.73

In [ ]:
print(X)
print(y)

        0        1       2   3   4          5  6  7  8          9
0     619   France  Female  42   2        0.0  1  1  1  101348.88
1     608    Spain  Female  41   1   83807.86  1  0  1  112542.58
2     502   France  Female  42   8   159660.8  3  1  0  113931.57
3     699   France  Female  39   1        0.0  2  0  0   93826.63
4     850    Spain  Female  43   2  125510.82  1  1  1    79084.1
...   ...      ...     ...  ..  ..        ... .. .. ..        ...
9995  771   France    Male  39   5        0.0  2  1  0   96270.64
9996  516   France    Male  35  10   57369.61  1  1  1  101699.77
9997  709   France  Female  36   7        0.0  1  0  1   42085.58
9998  772  Germany    Male  42   3   75075.31  2  1  0   92888.52
9999  792   France  Female  28   4  130142.79  1  1  0   38190.78

[10000 rows x 10 columns]
[1 0 1 ... 1 1 0]

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_2 = LabelEncoder()
X.loc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])

<ipython-input-20-0e325dfcbd23>:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X.loc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])

In [ ]:
print(X)

        0        1  2   3   4          5  6  7  8          9
0     619   France  0  42   2        0.0  1  1  1  101348.88
1     608    Spain  0  41   1   83807.86  1  0  1  112542.58
2     502   France  0  42   8   159660.8  3  1  0  113931.57
3     699   France  0  39   1        0.0  2  0  0   93826.63
4     850    Spain  0  43   2  125510.82  1  1  1    79084.1
...   ...      ... ..  ..  ..        ... .. .. ..        ...
9995  771   France  1  39   5        0.0  2  1  0   96270.64
9996  516   France  1  35  10   57369.61  1  1  1  101699.77
9997  709   France  0  36   7        0.0  1  0  1   42085.58
9998  772  Germany  1  42   3   75075.31  2  1  0   92888.52
9999  792   France  0  28   4  130142.79  1  1  0   38190.78

[10000 rows x 10 columns]

In [ ]:
labelencoder_X_1 = LabelEncoder()
X.loc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])

<ipython-input-22-fb53c816aaf9>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X.loc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #scikit-learn
from sklearn.compose import ColumnTransformer

In [ ]:
#Country column
ct = ColumnTransformer([("Country", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

# Male/Female
labelencoder_X = LabelEncoder()
X[:, 2] = labelencoder_X.fit_transform(X[:, 2])

In [ ]:
print(X)

[[1.0 0.0 0 ... 1 1 101348.88]
 [0.0 0.0 1 ... 0 1 112542.58]
 [1.0 0.0 0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0 ... 0 1 42085.58]
 [0.0 1.0 0 ... 1 0 92888.52]
 [1.0 0.0 0 ... 1 0 38190.78]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train.shape)

(8000, 12)

In [ ]:
print(X_test.shape)

(2000, 12)

### **Build Artificial Neural Network**

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten

In [ ]:
classifier = Sequential()

In [ ]:
classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 12))
classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(1, kernel_initializer = 'uniform', activation = 'sigmoid'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

In [ ]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 3s 2ms/step - loss: 0.4885 - accuracy: 0.7951
Epoch 2/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.8159
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8241
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8261
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3867 - accuracy: 0.8295
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3806 - accuracy: 0.8316
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3756 - accuracy: 0.8372
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3723 - accuracy: 0.8469
Epoch 9/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3683 - accuracy: 0.8466
Epoch 10/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3649 - accuracy: 0.8504
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3639 - accuracy: 0.8519
Epoch 12/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3624 - accuracy: 0.8522
Epoch 13/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3592 - accuracy: 0.8504
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3587 - accuracy: 0.8537
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3564 - accuracy: 0.8555
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3550 - accuracy: 0.8553
Epoch 17/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3534 - accuracy: 0.8537
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3533 - accuracy: 0.8562
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3522 - accuracy: 0.8566
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3504 - accuracy: 0.8555
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3501 - accuracy: 0.8551
Epoch 22/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3491 - accuracy: 0.8561
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3487 - accuracy: 0.8547
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3483 - accuracy: 0.8569
Epoch 25/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3460 - accuracy: 0.8580
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3470 - accuracy: 0.8566
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3469 - accuracy: 0.8562
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3460 - accuracy: 0.8596
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3462 - accuracy: 0.8596
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3450 - accuracy: 0.8558
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3457 - accuracy: 0.8580
Epoch 32/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3437 - accuracy: 0.8606
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3433 - accuracy: 0.8606
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3433 - accuracy: 0.8595
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3430 - accuracy: 0.8604
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3427 - accuracy: 0.8581
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3424 - accuracy: 0.8575
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8586
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3420 - accuracy: 0.8620
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3421 - accuracy: 0.8606
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8608
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8591
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3406 - accuracy: 0.8610
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3413 - accuracy: 0.8591
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3406 - accuracy: 0.8612
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8600
Epoch 47/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3397 - accuracy: 0.8622
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3396 - accuracy: 0.8591
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3400 - accuracy: 0.8605
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3395 - accuracy: 0.8591
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3391 - accuracy: 0.8605
Epoch 52/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8614
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8610
Epoch 54/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3397 - accuracy: 0.8610
Epoch 55/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3399 - accuracy: 0.8594
Epoch 56/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3392 - accuracy: 0.8609
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3395 - accuracy: 0.8615
Epoch 58/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3393 - accuracy: 0.8604
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3395 - accuracy: 0.8596
Epoch 61/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3381 - accuracy: 0.8585
Epoch 62/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3393 - accuracy: 0.8624
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3388 - accuracy: 0.8615
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3393 - accuracy: 0.8600
Epoch 65/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3385 - accuracy: 0.8606
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3399 - accuracy: 0.8596
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3396 - accuracy: 0.8612
Epoch 68/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3389 - accuracy: 0.8626
Epoch 69/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3379 - accuracy: 0.8606
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8620
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3390 - accuracy: 0.8591
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3389 - accuracy: 0.8618
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3381 - accuracy: 0.8622
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3388 - accuracy: 0.8626
Epoch 75/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3377 - accuracy: 0.8608
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3382 - accuracy: 0.8624
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8626
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3389 - accuracy: 0.8605
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3379 - accuracy: 0.8600
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3376 - accuracy: 0.8609
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3395 - accuracy: 0.8596
Epoch 82/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3385 - accuracy: 0.8611
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3376 - accuracy: 0.8624
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3383 - accuracy: 0.8616
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3389 - accuracy: 0.8608
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3392 - accuracy: 0.8611
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8624
Epoch 88/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3379 - accuracy: 0.8622
Epoch 89/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3382 - accuracy: 0.8619
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8619
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3373 - accuracy: 0.8608
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3387 - accuracy: 0.8602
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8599
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3376 - accuracy: 0.8610
Epoch 95/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3380 - accuracy: 0.8611
Epoch 96/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3385 - accuracy: 0.8601
Epoch 97/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3370 - accuracy: 0.8629
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8629
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3372 - accuracy: 0.8604
Epoch 100/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3381 - accuracy: 0.8618

In [ ]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1543   52]
 [ 260  145]]

0.844